@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    font-family: "karla", sans-serif;
}

body{
    margin: 0;
    height: 100vh;
}

.join-our-heading {
    color: #4FAFA6;
}

.join-our-heading3 {
    color: hsl(71, 73%, 54%);
}

.join-our-p{
    color: hsl(218, 22%, 67%);
}

.join-our-community {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 50vh;
}

.page-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.why-us {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #4ABEBD;
}

.monthly-subscription {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: hsl(179, 62%, 43%);
    height: 50vh;
}

.join-our-community {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.sign-up-btn {
    background-color: #B0CA2F;
    padding: 3% 13%;
    border: 0;
    border-radius: 8px;
    color: white;
    font-size: 117%;
    box-shadow: 0px 3px 15px #19706e;
    transform: translateX(39px);
}